
.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflowY: scroll;
    overflowX: hidden;
    flex-wrap: wrap;
    background-color: #2f2f2f;
    padding: 0 20px;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #bbccbb;
    color:#000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color:black;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card p{
    color:black;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.pdf-document{
    max-width:100%;
}
.react-pdf__Page__canvas{
    width: 100% !important;
}
.react-pdf__Page__textContent{
    display:none !important;; 
}
