
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #bbccbb;
    color:#000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color:black;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card p{
    color:black;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.pdf-document{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-height:150vh;
    
}
.react-pdf__Page__textContent{
    display:none !important;; 
}