.dot-typing-primary {
  position: relative;
  left: -9999px;
  width: 0.46806rem;
  height: 0.46806rem;
  border-radius: 5px;
  background-color: #369FFF ;
  color: #369FFF  ;
  box-shadow: 9984px 0 0 0 #369FFF , 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  animation: dot-typing 1.2s infinite linear;
}

.dot-typing-error {
  position: relative;
  left: -9999px;
  width: 0.46806rem;
  height: 0.46806rem;
  border-radius: 5px;
  background-color: #CF4949;
  color: #CF4949;
  box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  animation: dot-typing-error 1.2s infinite linear;
}

.dot-typing-filled {
  position: relative;
  left: -9999px;
  width: 0.46806rem;
  height: 0.46806rem;
  border-radius: 5px;
  background-color: #FFF;
  color: #FFF;
  box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  animation: dot-typing-filled 1.2s infinite linear;
}


@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
  50% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px -10px 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px -10px 0 0 #369FFF;
  }
  100% {
    box-shadow: 9984px 0 0 0 #369FFF, 9999px 0 0 0 #369FFF, 10014px 0 0 0 #369FFF;
  }
}

@keyframes dot-typing-error {
  0% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
  50% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px -10px 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px -10px 0 0 #CF4949;
  }
  100% {
    box-shadow: 9984px 0 0 0 #CF4949, 9999px 0 0 0 #CF4949, 10014px 0 0 0 #CF4949;
  }
}

@keyframes dot-typing-filled {
  0% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
  50% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px -10px 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px -10px 0 0 #FFF;
  }
  100% {
    box-shadow: 9984px 0 0 0 #FFF, 9999px 0 0 0 #FFF, 10014px 0 0 0 #FFF;
  }
}